@bryntum:registry="https://npm.bryntum.com"
//npm.bryntum.com/:_authToken=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyZWFsX2dyb3VwcyI6WyJ0cmlhbCJdLCJuYW1lIjoiYnJ5bnR1bS4uaW5mby52ZXJtZWRpdHNvZnQuZGUiLCJncm91cHMiOlsidHJpYWwiLCIkYWxsIiwiJGF1dGhlbnRpY2F0ZWQiLCJAYWxsIiwiQGF1dGhlbnRpY2F0ZWQiLCJhbGwiXSwiaWF0IjoxNzMzNDc5MTU4LCJuYmYiOjE3MzM0NzkxNTgsImV4cCI6MjU5NzM5Mjc1OH0.c41ZhiqR5NU0k1eo0xakRqMqo7XV4X--1YSUa2pi628